.high-price {
    color: red;
}

.low-price {
    color: green;
}

.details-container {
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    align-items: center;
}

/* .prev-next-book-btns{
    display: flex;
}
.prev-next-book-btns button{
   
} */